#box
  #box_title Zmień parametry klasy
  #box_content
    - form_for [:admin, @classroom] do |f|
      = f.error_messages
      %h1 Dane klasy
      %table
        %tr.odd
          %th.form_title Sala:
          %td.form_content= f.text_field :hall
        %tr.even
          %th.form_title Aktualny rok
          %td.form_content= @classroom.current_year.to_s
        %tr.odd
          %th.form_title Nazwa klasy:
          %td.form_content= f.text_field :name_of_class
        %tr.even
          %th.form_title Rok utworzenia
          %td.form_content= f.select :year, (1990..(Date.today.year.to_i)).to_a
        %tr.odd
          %th.form_title Wychowawca:
          %td.form_content= f.select :user_id, User.all.select{|u| u.is_teacher?}.map{|u| [u.name.capitalize + " " + u.lastname.capitalize + " (" + u.login + ")", u.id]}, :include_blank => '-- Wybierz wychowawcę --'
        %tr.even
          %th.form_title Liczba uczniów
          %td.form_content= @classroom.students.size
      = f.submit "Zapisz", :class => 'submit'
      %br
      %h1 Uczniowe należący do klasy
      %table
        %tr
          %th Nr
          %th Imię i nazwisko
          %th Usuń z klasy
        - if @users.empty?
          %tr
            %td{:colspan => 3} brak
        - else
          - @users.each_with_index do |user, index|
            %tr{:id => cycle('even','odd')}
              %td= index+1
              %td= link_to h(user.name.capitalize + " " + user.lastname.capitalize), admin_user_path(user)
              %td= link_to "usuń", delete_user_admin_classrooms_path(:id => @classroom, :user_id => user), :confirm => "Jesteś tego pewien?", :method => :delete_user
    %br
    = link_to 'Wstecz', admin_classrooms_path
