#box
  #box_title= "Klasa " + @classroom.name_of_class + " (" + @classroom.year.to_s + " - " + (@classroom.year+3).to_s + ")"
  %p{:style => "margin:6px"}= link_to "... powróć do listy klas", admin_classrooms_path
  .invertedshiftdown2
    %ul
      %li= link_to "Dane klasy", admin_classroom_path(@classroom)
      %li= link_to "Uczniowie", students_admin_classroom_path(@classroom)
      %li= link_to "Plan zajęć", schedule_admin_semester_classroom_path(@semester, @classroom)
      %li.current= link_to "Przedmioty", admin_semester_classroom_subjects_path(@semester, @classroom)
  .clear
  #box_content
    %div{:style => "width:100%; text-align:center"}
      %h2
        = link_to (image_tag 'admin/arrow-left.jpg'), schedule_admin_semester_classroom_path(@semester.previous, @classroom) unless @semester.previous.nil? || @semester.previous.year < @classroom.year
        %span{:style => "margin: 0 10px 0 10px"}= @classroom.current_semester(params[:semester_id]).year_and_semester
        = link_to (image_tag 'admin/arrow-right.jpg'), schedule_admin_semester_classroom_path(@semester.next, @classroom) unless @semester.next.nil? || @semester.next.year > @classroom.year + 2
    %h1 Przedmioty
    %table
      %tr
        %th Nazwa
        %th Rok/semestr
        %th Nauczyciel
        %th Grupa/Klasa
        %th Pokaż
      - if @subjects.blank?
        %tr
          %td{:colspan => 5} brak
      - for subject in @subjects
        %tr{:id => cycle('even','odd')}
          %td= h subject.subject_name_name
          %td= (h subject.semester_school_year) + " (" + (h subject.semester_h_semester) + ")"
          %td= link_to (h subject.user_name + " " + (h subject.user_lastname)), admin_user_path(subject.user)
          %td
            - unless subject.team.blank?
              - if subject.team_type == "Group"
                = link_to (h subject.team.name_of_group + " (grupa)"), admin_semester_group_path(@semester, subject.team)
              - else
                = link_to (subject.team.current_year(params[:semester_id]).to_s + subject.team.name_of_class + " (klasa)"), admin_classroom_path(subject.team)
          %td= link_to "Pokaż", admin_semester_classroom_subject_path(@semester, @classroom, subject)
    %br
    = link_to 'Dodaj przedmiot', new_admin_semester_classroom_subject_path(@semester, @classroom)
