#box
  #box_title Przedmioty
  #box_content
    %h1 Przedmioty
    %table
      %tr
        %th Nazwa
        %th Rok/semestr
        %th Nauczyciel
        %th Grupa/Klasa
        %th Pokaż
      - if @subjects.blank?
        %tr
          %td{:colspan => 5} brak
      - for subject in @subjects
        %tr{:id => cycle('even','odd')}
          %td= h subject.subject_name_name
          %td= (h subject.semester_school_year) + " (" + (h subject.semester_h_semester) + ")"
          %td= link_to (h subject.user_name + " " + (h subject.user_lastname)), admin_user_path(subject.user)
          %td
            - unless subject.team.blank?
              - if subject.team_type == "Group"
                = link_to (h subject.team.name_of_group + " (grupa)"), admin_semester_group_path(@semester, subject.team)
              - else
                = link_to (subject.team.current_year(params[:semester_id]).to_s + subject.team.name_of_class + " (klasa)"), admin_semester_classroom_path(@semester, subject.team)
          %td= link_to "Pokaż", admin_semester_subject_path(@semester,subject)
    %br
    = link_to 'Dodaj przedmiot', new_admin_semester_subject_path(@semester)
