<% form_tag session_path, :id => 'login_field' do -%>
  <fieldset>
  <legend>Logowanie</legend>
    <%= label_tag 'login' %><%= text_field_tag 'login', @login %><br>
    <%= label_tag 'password', "Hasło" %><%= password_field_tag 'password', nil %><br>
    <%= label_tag 'remeber_me', 'Zapamiętaj mnie' %><%= check_box_tag 'remember_me', '1', @remember_me %><br>
    <%= submit_tag "Zaloguj się", :class => "submit" %>
  </fieldset>
<% end %>
<p>Witaj, możesz się zalogować jako:</p>
<p><b>student : student</b> by mieć uprawnienia ucznia</p> 
<p><b>admin : adminn</b> by mieć uprawnienia administratora</p>
<p><b>parent : parent</b> by mieć uprawnienia opiekuna</p>
<p><b>teacher : teacher</b> by mieć uprawnienia nauczyciela</p>
