#box
  #box_title= h @user.name + " " + @user.lastname + " - Oceny"
  %p{:style => "margin:6px"}= link_to "... powróć do listy przedmiotów", parent_child_subjects_path
  .invertedshiftdown2
    %ul
      %li= link_to "Dane przedmiotu", parent_child_subject_path(@user, @subject)
      %li= link_to "Terminarz", timetable_parent_child_subject_path(@user, @subject)
      %li.current= link_to "Oceny", parent_child_subject_marks_path(@user, @subject)
  .clear
  #box_content
    %table
      %tr
        %th{:colspan => @event_marks.size} Oceny
      %tr
        - @event_marks.each do |event|
          %td
            %b= event.content
            %br
            = "(waga " + event.weight.to_s + ")"
      %tr
        - @event_marks.each do |event|
          - if event.marks.find_by_user_id(@user.id).first.nil? || event.marks.find_by_user_id(@user.id).first.value == 0
            %td brak
          - else
            %td= event.marks.find_by_user_id(@user.id).first.value.to_s
