#box
  #box_title Frekwencja
  #box_content
    %h1 Nieobecności
    %br
    - if @attendances.empty?
      Brak nieobecności
    - @attendances.group_by(&:lecture_unit_date).sort.each do |date, attendance|
      %h2= date.to_s
      %table
        %tr
          %th Godzina
          %th Przedmiot
          %th Nauczyciel
          %th Usprawiedliwione
        - attendance.each do |a|
          %tr
            %td= a.lecture_unit.lecture.order_of_the_day.start.strftime("%H:%M")
            %td= a.lecture_unit.lecture.subject.subject_name.name
            %td= a.lecture_unit.lecture.subject.user.name + " " + a.lecture_unit.lecture.subject.user.lastname
            %td= image_tag ((a.excuse) ? "admin/success.png" : "admin/fail.png")
      %br
