#box
  #box_title Dodaj nową klasę
  #box_content
    - form_for [:admin, @classroom] do |f|
      %table
        %tr.even
          %th.form_title Sala:
          %td.form_content= f.text_field :hall
        %tr.odd
          %th.form_title Nazwa klasy:
          %td.form_content= f.text_field :name_of_class
        %tr.even
          %th.form_title Rok utworzenia
          %td.form_content= f.select :year, (1990..(Date.today.year.to_i)).to_a
        %tr.odd
          %th.form_title Wychowawca:
          %td.form_content= f.select :user_id, User.all.select{|u| u.is_teacher?}.map{|u| [u.login, u.id]}, :include_blank => '--Wybierz wychowawcę --'
      = f.submit "Zapisz", :class => 'submit'
    %br
    = link_to 'Wstecz', :back
