#box
  #box_title= "Klasa " + @classroom.name_of_class + " (" + @classroom.year.to_s + " - " + (@classroom.year+3).to_s + ")"
  %p{:style => "margin:6px"}= link_to "... powróć do listy klas", admin_classrooms_path
  .invertedshiftdown2
    %ul
      %li= link_to "Dane klasy", admin_classroom_path
      %li= link_to "Uczniowie", students_admin_classroom_path
      %li.current= link_to "Plan zajęć", schedule_admin_semester_classroom_path(@semester)
      %li= link_to "Przedmioty", admin_semester_classroom_subjects_path(@semester, @classroom)
  .clear
  #box_content
    %div{:style => "width:100%; text-align:center"}
      %h2
        - if !Semester.choosen_or_current_previous(params[:semester_id]).nil? && Semester.choosen_or_current_previous(params[:semester_id]).year >= @classroom.year
          = link_to (image_tag 'admin/arrow-left.jpg'), schedule_admin_semester_classroom_path(Semester.choosen_or_current_previous(params[:semester_id]), @classroom)
        %span{:style => "margin: 0 10px 0 10px"}= Semester.choosen_or_current(params[:semester_id]).year_and_semester
        - if !Semester.choosen_or_current_next(params[:semester_id]).nil? && Semester.choosen_or_current_next(params[:semester_id]).year < @classroom.year + 3
          = link_to (image_tag 'admin/arrow-right.jpg'), schedule_admin_semester_classroom_path(Semester.choosen_or_current_next(params[:semester_id]), @classroom)
    %h1 Plan zajęć klasy
    %table
      %tr
        %th{:style => "width: 9%"} Godzina
        - 1.upto(7) do |dow|
          %th{:style => "width: 13%"}= day_of_week(dow)
      - for order in @orders do
        %tr{:style => "height: 50px"}
          %th= order.start.strftime("%H:%M")
          - 1.upto(7) do |dow|
            %td
              - @schedule.select{|l| l.day_of_week == dow && l.order_of_the_day_id == order.id}.each do |lecture|
                %b= lecture.subject_name_name
                %br
                = lecture.user_name + " " + lecture.user_lastname
