#box
  #box_title Dane przedmiotu
  %p{:style => "margin:6px"}= link_to "... powróć do listy przedmiotów", teacher_classroom_lessons_path(@classroom)
  .invertedshiftdown2
    %ul
      %li.current= link_to "Dane przedmiotu", teacher_classroom_lesson_path
      %li= link_to "Terminarz", timetable_teacher_classroom_lesson_path
      %li= link_to "Oceny", rate_teacher_classroom_lesson_path
  .clear
  #box_content
    %h1 Dane przedmiotu
    %table
      %tr.odd
        %th.form_title Przedmiot
        %td.form_content= @subject.subject_name_name
      %tr.even
        %th.form_title Semestr
        %td.form_content= (h @subject.semester_school_year) + " (" + (h @subject.semester_h_semester) + ")"
      %tr.odd
        %th.form_title Nauczyciel
        %td.form_content= link_to (h @subject.user_name + " " + (h @subject.user_lastname)), teacher_user_path(@subject.user) unless @subject.user.nil?
