#box
  #box_title Dzieci
  #box_content
    %table
      %tr
        %th Login
        %th E-mail
        %th Imię i nazwisko
        %th Klasa
        %th Pokaż
      - if @children.blank?
        %tr
          %td{:colspan => 5} brak
      - for user in @children
        %tr{:id => cycle('even','odd')}
          %td= h user.login
          %td= h user.email
          %td= h user.name.capitalize + " " + user.lastname.capitalize
          %td= user.classroom.current_year.to_s + user.classroom.name_of_class unless user.classroom.nil?
          %td= link_to "Pokaż", parent_child_path(user)
