#box
  #box_title Dane przedmiotu
  %p{:style => "margin:6px"}= link_to "... powróć do listy przedmiotów", student_subjects_path
  .invertedshiftdown2
    %ul
      %li.current= link_to "Dane przedmiotu", student_subject_path
      %li= link_to "Terminarz", timetable_student_subject_path
  .clear
  #box_content
    %h1 Dane przedmiotu
    %table
      %tr.odd
        %th.form_title Przedmiot
        %td.form_content= @subject.subject_name_name
      %tr.even
        %th.form_title Semestr
        %td.form_content= (h @subject.semester_school_year) + " (" + (h @subject.semester_h_semester) + ")"
      %tr.odd
        %th.form_title Nauczyciel
        %td.form_content= link_to (h @subject.user_name + " " + (h @subject.user_lastname)), student_user_path(@subject.user) unless @subject.user.nil?
      %tr.even
        %th.form_title Grupa/Klasa
        %td.form_content
          - unless @subject.team.blank?
            - if @subject.team_type == "Group"
              = h @subject.team.name_of_group + " (grupa)"
            - else
              = @subject.team.current_year(params[:semester_id]).to_s + @subject.team.name_of_class + " (klasa)"
