#box
  #box_title Zmień parametry grupy
  %p{:style => "margin:6px"}= link_to "... powróć do listy grup", admin_semester_groups_path(@semester)
  .invertedshiftdown2
    %ul
      %li.current= link_to "Dane grupy", admin_semester_group_path(@semester, @group)
      %li= link_to "Uczestnicy", users_admin_semester_group_path(@semester, @group)
      %li= link_to "Terminarz", timetable_admin_semester_group_path(@semester, @group)
  .clear
  #box_content
    - form_for [:admin, @semester, @group] do |f|
      = f.error_messages
      %table
        %tr.even
          %th.form_title Nazwa grupy:
          %td.form_content= f.text_field :name_of_group
        %tr.odd
          %th.form_title Semestr
          %td.form_content= f.select :semester_id, Semester.find(:all, :order => 'year DESC, semester DESC').map{|s| [s.year.to_s+"/"+(s.year+1).to_s+" "+s.h_semester, s.id]}, :include_blank => '-- Wybierz semestr --'
        - f.fields_for :subject do |s_form|
          = s_form.hidden_field :semester_id
          %tr.even
            %th.form_title Przedmiot
            %td.form_content
              = s_form.select :subject_name_id, SubjectName.all.map{|s| [s.name, s.id]}, :include_blank => '-- Wybierz przedmiot --'
          %tr.odd
            %th.form_title Nauczyciel
            %td.form_content= s_form.select :user_id, User.teachers.map{|s| [s.name + " " + s.lastname, s.id]}, :include_blank => '-- Wybierz nauczyciela --'
        %tr.even
          %th.form_title Liczba uczestników
          %td.form_content= @group.users.size.to_s
      = f.submit "Zapisz", :class => 'submit'
    %br
    = link_to 'Anuluj', admin_semester_group_path
