#box
  #box_title Dane grupy
  %p{:style => "margin:6px"}= link_to "... powróć do listy grup", admin_semester_groups_path
  .invertedshiftdown2
    %ul
      %li= link_to "Dane grupy", admin_semester_group_path
      %li.current= link_to "Uczestnicy", users_admin_semester_group_path
      %li= link_to "Terminarz", timetable_admin_semester_group_path
  .clear
  #box_content
    %h1 Osoby należące do grupy
    %table
      %tr
        %th Nr
        %th Imię i nazwisko
      - if @users.empty?
        %tr
          %td{:colspan => 2} brak
      - else
        - @users.each_with_index do |user, index|
          %tr{:id => cycle('even','odd')}
            %td= index+1
            %td= link_to h(user.name.capitalize + " " + user.lastname.capitalize), admin_user_path(user)
