#box
  #box_title Zmień parametry użytkownika
  #box_content
    - form_for [:admin, @user] do |f|
      = f.error_messages
      %h1 Dane użytkownika
      %table
        %tr.even
          %th.form_title Login:
          %td.form_content= h @user.login
        %tr.odd
          %th.form_title Imię:
          %td.form_content= f.text_field :name
        %tr.even
          %th.form_title Nazwisko:
          %td.form_content= f.text_field :lastname
        %tr.odd
          %th.form_title E-mail
          %td.form_content= f.text_field :email
        %tr.even
          %th.form_title Role:
          %td.form_content
            - for role in Role.all
              = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
              = human_role role.name
              %br
      = f.submit "Zapisz", :class => 'submit'

    - if @user.is_student? || @user.is_parent?
      %br
      %h1 Powiązania rodzinne
      - if @user.is_student?
        - form_for [:admin, @user], :url => update_family_ties_admin_user_path(@user) do |g|
          %table
            %tr.even
              %th.form_title Opiekun(-owie):
              %td.form_content
                = @user.parents.blank? ? "brak" : @user.parents.map{|p| (link_to p.name.capitalize + " " + p.lastname.capitalize + " (" + p.login + ")", admin_user_path(p)) + " " + (link_to "[usuń]", delete_parent_admin_users_path(:id => @user, :parent_id => p.id), :confirm => "Jesteś tego pewien?", :method => 'delete_paren')}.sort.join("<br>")
            %tr.odd
              %th.form_title Dodaj opiekuna:
              %td.form_content
                = g.select :parents, (User.all - @user.parents).select{|u| u.is_parent?}.map{|u| [u.name.capitalize + " " + u.lastname.capitalize, u.id]}, :include_blank => '-- Wybierz opiekuna --'
                = g.submit "Dodaj", :class => 'submit'
      - if @user.is_parent?
        - form_for [:admin, @user], :url => update_family_ties_admin_user_path(@user) do |g|
          %table
            %tr.even
              %th.form_title Potomek(-owie):
              %td.form_content
                = @user.children.blank? ? "brak" : @user.children.map{|c| (link_to c.name.capitalize + " " + c.lastname.capitalize + " (" + c.login + ")", admin_user_path(c)) + " " + (link_to "[usuń]", delete_child_admin_users_path(:id => @user, :child_id => c.id), :confirm => "Jesteś tego pewien?", :method => 'delete_child')}.sort.join("<br>")
            %tr.odd
              %th.form_title Dodaj potomka:
              %td.form_content
                = g.select :children, (User.all - @user.children).select{|u| u.is_student?}.map{|u| [u.name.capitalize + " " + u.lastname.capitalize, u.id]}, :include_blank => '-- Wybierz potomka --'
                = g.submit "Dodaj", :class => 'submit'
    - if @user.is_student?
      %br
      %h1 Klasa
      - form_for [:admin, @user], :url => update_classroom_admin_user_path(@user) do |g|
        %table
          %tr.even
            %th.form_title Klasa:
            %td.form_content
              - unless @user.classroom.nil?
                = link_to (@user.classroom.current_year(params[:semester_id]).to_s+@user.classroom.name_of_class), admin_classroom_path(@user.classroom)
                = link_to "[usuń]", delete_classroom_admin_users_path(:id => @user, :classroom => @user.classroom), :confirm => "Jesteś tego pewien?", :method => 'delete_classroom'
              - else
                brak
          %tr.odd
            %th.form_title Zmień klasę:
            %td.form_content
              = g.select :classroom, (Classroom.all - [@user.classroom]).map{|c| [c.current_year(params[:semester_id]).to_s+c.name_of_class, c.id]}.sort, :include_blank => '-- Wybierz klasę --'
              = g.submit "Zmień", :class => 'submit'
    - if @user.is_teacher?
      %br
      %h1 Wychowawstwo klasy
      %table
        %tr.even
          %th.form_title Klasy:
          %td.form_content
            = @user.classroom_educators.blank? ? "brak" : @user.classroom_educators.map{|ce| link_to (ce.current_year(params[:semester_id]).to_s+ce.name_of_class), admin_classroom_path(ce) + " "}.join(", ")
    %br
    %h1 Grupy
    - form_for [:admin, @user], :url => update_group_admin_user_path(@user) do |g|
      %table
        %tr.even
          %th.form_title Grupa(-y):
          %td.form_content
            - unless @user.groups.blank?
              - @user.groups.each do |gr|
                = link_to gr.name_of_group, admin_group_path(gr)
                = link_to "[usuń]", delete_group_admin_users_path(:id => @user, :group_id => gr), :confirm => "Jesteś tego pewien?", :method => 'delete_group'
                %br
            - else
              brak
        %tr.odd
          %th.form_title Dodaj grupę:
          %td.form_content
            = g.select :groups, (Group.all - @user.groups).map{|u| [u.name_of_group + " (" + u.users.size.to_s + " osób)", u.id]}, :include_blank => '-- Wybierz grupę --'
            = g.submit "Dodaj", :class => 'submit'
    %br
    = link_to 'Wstecz', admin_users_path
