#box
  #box_title Użytkownicy
  .invertedshiftdown2
    %ul
      - if params[:role].blank?
        %li.current= link_to "Wszyscy", admin_users_path
      - else
        %li= link_to "Wszyscy", admin_users_path
      - if params[:role] == "student"
        %li.current= link_to "Uczeń", admin_users_path(:role => "student")
      - else
        %li= link_to "Uczeń", admin_users_path(:role => "student")
      - if params[:role] == "parent"
        %li.current= link_to "Opiekun", admin_users_path(:role => "parent")
      - else
        %li= link_to "Opiekun", admin_users_path(:role => "parent")
      - if params[:role] == "teacher"
        %li.current= link_to "Nauczyciel", admin_users_path(:role => "teacher")
      - else
        %li= link_to "Nauczyciel", admin_users_path(:role => "teacher")
      - if params[:role] == "admin"
        %li.current= link_to "Administrator", admin_users_path(:role => "admin")
      - else
        %li= link_to "Administrator", admin_users_path(:role => "admin")
      - if params[:role] == "empty"
        %li.current= link_to "bez ról", admin_users_path(:role => "empty")
      - else
        %li= link_to "bez ról", admin_users_path(:role => "empty")
  .clear
  #box_content
    %table
      %tr
        %th Login
        %th E-mail
        %th Imię
        %th Nazwisko
        %th Uczeń
        %th Opiekun
        %th Nauczyciel
        %th Administrator
        %th Pokaż
        %th Edytuj
      - for user in @users
        %tr{:id => cycle('even','odd')}
          %td= h user.login
          %td= h user.email
          %td= h user.name.capitalize
          %td= h user.lastname.capitalize
          %td= image_tag "admin/success.png" if user.is_student?
          %td= image_tag "admin/success.png" if user.is_parent?
          %td= image_tag "admin/success.png" if user.is_teacher?
          %td= image_tag "admin/success.png" if user.is_admin?
          %td= link_to "Pokaż", admin_user_path(user, :role => params[:role])
          %td= link_to "Edytuj", edit_admin_user_path(user, :role => params[:role])
