#box
  #box_title Dane użytkownika
  .invertedshiftdown2
    %ul
      - if params[:role].blank?
        %li.current= link_to "Wszyscy", admin_users_path
      - else
        %li= link_to "Wszyscy", admin_users_path
      - if params[:role] == "student"
        %li.current= link_to "Uczeń", admin_users_path(:role => "student")
      - else
        %li= link_to "Uczeń", admin_users_path(:role => "student")
      - if params[:role] == "parent"
        %li.current= link_to "Opiekun", admin_users_path(:role => "parent")
      - else
        %li= link_to "Opiekun", admin_users_path(:role => "parent")
      - if params[:role] == "teacher"
        %li.current= link_to "Nauczyciel", admin_users_path(:role => "teacher")
      - else
        %li= link_to "Nauczyciel", admin_users_path(:role => "teacher")
      - if params[:role] == "admin"
        %li.current= link_to "Administrator", admin_users_path(:role => "admin")
      - else
        %li= link_to "Administrator", admin_users_path(:role => "admin")
      - if params[:role] == "empty"
        %li.current= link_to "bez ról", admin_users_path(:role => "empty")
      - else
        %li= link_to "bez ról", admin_users_path(:role => "empty")
  .clear
  #box_content
    %table
      %tr#even
        %th.form_title Imię i nazwisko
        %td.form_content
          =h @user.name + " " + @user.lastname
      %tr#odd
        %th.form_title Login
        %td.form_content
          =h @user.login
      %tr#even
        %th.form_title Email:
        %td.form_content
          =h @user.email
      %tr#odd
        %th.form_title Rola:
        %td.form_content
          =h @user.roles.blank? ? "brak" : @user.roles.map(&:name).map{|i| human_role(i)}.sort.join(", ")
      - if @user.is_student?
        %tr#even
          %th.form_title Opiekun(-owie):
          %td.form_content
            = @user.parents.blank? ? "brak" : @user.parents.map{|p| link_to p.name.capitalize + " " + p.lastname.capitalize + " (" + p.login + ")", admin_user_path(p)}.sort.join(", ")
      - if @user.is_parent?
        %tr#odd
          %th.form_title Potomek(-owie):
          %td.form_content
            = @user.children.blank? ? "brak" : @user.children.map{|c| link_to c.name.capitalize + " " + c.lastname.capitalize + " (" + c.login + ")", admin_user_path(c)}.sort.join(", ")
      - if @user.is_student?
        %tr#even
          %th.form_title Klasa:
          %td.form_content
            = @user.classroom.nil? ? "brak" : (link_to @user.classroom.name_of_class, admin_classroom_path(@user.classroom))
      - if @user.is_teacher?
        %tr#even
          %th.form_title Wychowawstwo klasy
          %td.form_content
            = @user.classroom_educators.blank? ? "brak" : @user.classroom_educators.map{|ce| link_to (ce.current_year(params[:semester_id]).to_s+ce.name_of_class), admin_classroom_path(ce) + " "}.join(", ")
      %tr#odd
        %th.form_title Grupa(-y):
        %td.form_content
          = @user.groups.blank? ? "brak" : @user.groups.map{|ce| link_to ce.name_of_group, admin_group_path(ce) + " "}.join(", ")
    %br
    = link_to 'Wstecz', admin_users_path(:role => params[:role])
    |
    = link_to 'Edytuj informacje', edit_admin_user_path(@user)
