#box
  #box_title Klasy
  .invertedshiftdown2
    %ul
      %li.current= link_to "Aktualne", admin_classrooms_path
      %li= link_to "Absolwenci", graduates_admin_classrooms_path
      %li= link_to "Przyszłe", future_admin_classrooms_path
  .clear
  #box_content
    - 1.upto(3) do |y|
      %h1= y.to_s + " klasa"
      %table
        %tr
          %th Nazwa klasy
          %th Lata nauki
          %th Wychowawca
          %th Liczba uczniów
          %th Nr sali
          %th Pokaż
        - if @classrooms[y].blank?
          %tr
            %td{:colspan => 6} brak
        - else
          - for classroom in @classrooms[y]
            %tr{:id => cycle('even','odd')}
              %td= h classroom.name_of_class
              %td= (h classroom.year.to_s) + " - " + (classroom.year+3).to_s
              %td= (classroom.educator_name.nil?) ? "brak" : (link_to h(classroom.educator_name + " " + classroom.educator_lastname), admin_user_path(classroom.educator))
              %td= classroom.students.size
              %td= h classroom.hall
              %td= link_to "Pokaż", admin_classroom_path(classroom)
      %br
    = link_to 'Dodaj klasę', new_admin_classroom_path
